@font-face {
  font-family: 'iconfont';  /* project id 1500775 */
  src: url('//at.alicdn.com/t/font_1500775_hvhy0gmoz5b.eot');
  src: url('//at.alicdn.com/t/font_1500775_hvhy0gmoz5b.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1500775_hvhy0gmoz5b.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1500775_hvhy0gmoz5b.woff') format('woff'),
  url('//at.alicdn.com/t/font_1500775_hvhy0gmoz5b.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1500775_hvhy0gmoz5b.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'iconfont';  /* project id 1513455 */
  src: url('//at.alicdn.com/t/font_1513455_wz1no2n97gb.eot');
  src: url('//at.alicdn.com/t/font_1513455_wz1no2n97gb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1513455_wz1no2n97gb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1513455_wz1no2n97gb.woff') format('woff'),
  url('//at.alicdn.com/t/font_1513455_wz1no2n97gb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1513455_wz1no2n97gb.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:20px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
